ul {
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left
}

li a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

li a:hover {
    background-color: aquamarine;
    color: black;
}