body {
    font-family: Arial, sans-serif;
    margin: 0;
}
#footer{
    background-color: darkcyan;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#logo{
    display: flex;
    align-items: center;
}
#img-logo{
    display: inline-block;
    height: 70px;
}
#text-logo{
    display: inline-block;
}