<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sharks Auction</title>
</head>
<body>

<div id="logo" th:fragment="logo">
    <img alt="Tutaj powinno być logo" id="img-logo" src="https://www.mcicon.com/wp-content/uploads/2020/12/Animal_Shark_1-copy-29-600x600.jpg"/>
    <h1 id="text-logo">Allegro Dla Rekinów</h1>
</div>

<div th:fragment="navigation">
    <ul>
        <li><a th:href="@{/}">Strona główna</a></li>
        <li><a th:href="@{/kontakt}">Kontakt</a></li>
        <li><a th:href="@{/login}">Zaloguj się </a></li>
        <li><a th:href="@{/customer}">Zarejestruj się</a></li>

    </ul>
</div>

<div id="footer" th:fragment="footer">
    <h3>Copyright 2021 by Sharks</h3>
</div>

</body>
</html>