<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sharks Auction</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/navi.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/utils.html :: logo"/>

<div th:replace="fragments/utils.html :: navigation"/>
<h3>Dodaj klienta:</h3>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" th:object="${customer}" th:action="@{/customer}">
                <input type="hidden" th:field="*{id}" th:value="${customer.id}"/>
                <div class="mb-3">
                    <label for="firstNameInput" class="form-label">Imię:</label>
                    <input type="text" name="firstName" class="form-control" id="firstNameInput" th:field="*{firstName}"
                           th:value="${customer.firstName}"/>
                </div>
                <div class="mb-3">
                    <label for="lastNameInput" class="form-label">Nazwisko:</label>
                    <input type="text" name="lastName" class="form-control" id="lastNameInput" th:field="*{lastName}"
                           th:value="${customer.lastName}"/>
                </div>
                <div class="mb-3">
                    <label for="loginInput" class="form-label">Login (email):</label>
                    <input type="email" name="login" class="form-control" id="loginInput" th:field="*{login}"
                           th:value="${customer.login}"/>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Hasło:</label>
                    <input type="password" name="password" class="form-control" id="passwordInput"
                           th:field="*{password}" th:value="${customer.password}"/>
                </div>

                <!--    Login (email): <input type="email" th:field="*{login}"-->
                <!--                          th:value="${customer.login}" th:readonly="${isEdited}"/><br>-->
                <!--    Hasło: <input type="password" th:field="*{password}"-->
                <!--                  th:value="${customer.password}" th:readonly="${isEdited}"/><br>-->

                <div class="mb-3">
                    <label for="roleInput" class="form-label">Rola na stronie:</label>
                    <select class="form-control" id="roleInput" th:field="*{role}" th:value="${customer.role}"
                            th:readonly="${isEdited}">
                        <option value="ADMIN">Admin</option>
                        <option value="USER">User</option>
                    </select>
                </div>
                <!--    Rola na stronie: <select th:field="*{role}" th:value="${customer.role}" th:readonly="${isEdited}">-->
                <!--    <option value="ADMIN">Admin</option>-->
                <!--    <option value="USER">User</option>-->
                <!--</select>-->
                <input type="submit" value="Dodaj użytkownika" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/utils.html :: footer"/>
</body>
</html>