<!--plik welcome.html w katalogu resources/templates-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharks Auction</title>
    <link th:href="@{/css/navi.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>


</head>
<body>
<div th:replace="fragments/utils.html :: logo"/>

<div th:replace="fragments/utils.html :: navigation"/>

<h2>Dane kontaktowe:</h2>
<p>Sharks sp. z o.o.</p>
<p>Grunwaldzka 182</p>
<p>60-166 Poznań</p>

<div th:replace="fragments/utils.html :: footer"/>

</body>
</html>