<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sharks Auction</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/navi.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/utils.html :: logo"/>

<div th:replace="fragments/utils.html :: navigation"/>

<h2>Zaloguj się: </h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" th:action="@{/authenticate}">

                <div class="mb-3">
                    <label for="loginInput" class="form-label">Login:</label>
                    <input type="text" name="username" class="form-control" id="loginInput">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Hasło:</label>
                    <input type="password" name="password" class="form-control" id="passwordInput">
                </div>

                <input type="submit" value="Zaloguj się" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
<h3>Lub jeżeli nie posiadasz konta:</h3>
<h3><a th:href="@{/customer}">Zarejestruj się</a></h3>

<div th:replace="fragments/utils.html :: footer"/>

</body>
</html>