<!--plik welcome.html w katalogu resources/templates-->
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sharks Auction</title>
    <link th:href="@{/css/navi.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/utils.html :: logo"/>

<div th:replace="fragments/utils.html :: navigation"/>
<h2>Witaj na portalu aukcyjnym Allegro Dla Rekinów</h2>

<h3>
    Dziś jest <span th:text="${currentDate}"></span>
</h3>

<h3 sec:authorize="isAnonymous()">
    Zaloguj się by móc dodawać ogłoszenia
</h3>

<h3 sec:authorize="isAuthenticated()">
    Jesteś zalogowany jako: <span th:text="${loggedUser}"/>
</h3>

<div th:replace="fragments/utils.html :: footer"/>

</body>
</html>